@media(max-width: 700px) {
	* {
		margin: 0;
		padding: 0;
	}
	
	body {
		font-family: monospace;
		background-color: #EEEEEE;
	}
	
	header {
		background-image: url(../../img/background.jpg);
		height: 550px;
		background-size: cover;
		background-position: center;
	}
	
	.main-nav {
		display: none;
		float: right;
		list-style: none;
		margin-top: 55px;
	}
	
	.main-nav li {
		display: inline-block;
	}
	
	.main-nav li a {
		color: white;
		text-decoration: none;
		padding: 5px 20px;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
	}
	
	.main-nav li a:hover {
		border-bottom: 1px solid white;
		border-radius: 0px;
	}
	
	.logo {
		width: 800px;
		height: auto;
		float: center;
		padding: 10px;

	}
	
	.logo img {
		width: 250px;
	
	}
	
	.row {
		max-width: 1200px;
		margin: auto;
	}
	
	.hero {
		position: absolute;
		top: 100px;
		width: 100%;
	}
	
	h1 {
		font-family: "Roboto", sans-serif;
		color: white;
		text-transform: uppercase;
		font-size: 40px;
		text-align: center;
		margin-top: 80px;
		margin-bottom: 40px;
	}
	
	.button {
		text-align: center;
		margin-top: 50px;
	}
	
	.btn {
		font-family: "Roboto", sans-serif;
		border: 1px solid white;
		padding: 10px 30px;
		color: white;
		margin-right: 5px;
		font-size: 13px;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	.btn-one {
		background-color: #f18f01;
	}
	
	.button:hover {
		background-color: #f18f01;
		transition: all 0.2s ease-in;
	}
	
	.grid-container {
		display: grid;
		  grid-template-columns: auto auto;
		  padding: 10px;
	}
	
	.grid-item {
		padding: 20px;
	}
	
	
	.contact-form {
		font-family: "Arial", "Helvetica", sans-serif;
		margin-left: 20%;
		margin-right: 20%;
		min-width: 300px;
		height: 360px;
		background-color: white;
		border-radius: 20px;
		border: solid 1px #AAAAAA;
	}
	
	
	.contact-form .block{
		background-color: white;
		border-radius: 20px;
	}

	input {
		text-align: center;
		font-size: 20px;
		border: none;
		height: 100%;
		width: 100%;
		border-radius: 40px;
		color: grey;
	}
	
	a {
		font-size: 20px;
		border: none;
		height: 100%;
		width: 100%;
		border-radius: 40px;
	}
	
	select {
		font-size: 20px;
		color: grey;
		border: none;
		height: 100%;
		width: 100%;
		text-align: center;
		border-radius: 10px;
		text-decoration: none;
		background-color: white;
		-webkit-appearance: none;
	   -moz-appearance: none;
		   appearance: none;       /* Remove default arrow */
	}
	
	.contact-form .block-city {
		height: 60px;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10px;
		border-radius: 10px;
		width: 90%;
		display: block;
	}
	
	.contact-form .block-date {
		height: 60px;
		width: 90%;
		margin-top: 10px;
		margin-left: 5%;
		margin-right: 5%;
		border-left: #006e90;
		border-right: #006e90;
		display: block;
	}
	
	.contact-form .block-traveler {
		margin-top: 10px;
		margin-left: 5%;
		margin-right: 5%;	
		height: 60px;
		width: 90%;
		border-left: #006e90;
		border-right: #006e90;
		display: block;
	}
	
	.contact-form .block-button {
		background-color: #E9CB45; /* Green */
		border-radius: 20px;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 20px;
		margin-bottom: 10px;
		width: 80%;
		height: 50px;
		display: block;
	} 
	
	.button-search {
		width: 100%;
		height: 50px;
		border: none;
		line-height: 50px;   
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 20px;
		cursor: pointer;
		transition: all 0.2s ease-in;
		background-color: #E9CB45; /* Green */
		border-radius: 40px;
		width: 100%;
		height: 50px;
	}
	
	.button-search:hover {
		background-color: #EA8858;
		transition: all 0.2s ease-in;
	}
	
	.contact-section-header {
		color: #282828;
		font-family: "Roboto", sans-serif;
		font-size: 25px;
		margin-bottom: 20px;
	}
	
	input[type=number]::-webkit-inner-spin-button,
	  input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	 }
	
	 .subject {
		 height: 150px;
		 color: black;
	 }
	
	/* ---------- error ----------- */
	
	.error-wrapper {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 20px;
		width: 90%;
		height: auto;
		color: #ff3c3c;
		background: rgb(255, 184, 184);
		border: 1px solid #ff3c3c;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.error {
		width: 100%;
		height: 100%;
	}
	
	.error-text {
		float: left;
		margin: 10px;
		width: 80%;
		height: 50px;
		font-size: 20px;
	}
	
	.error-cross {
		float: right;
		font-size: 30px;
		width: 50px;
		height: 50px;
		color: #ff3c3c;
		background: rgb(255, 184, 184);
		border: none;
		position: absolute;
		right: 5px;
		top: 10px;
		z-index: 999;
	}

	/* --------- result ---------- */

	.result-container {
		width: 70%;
		height: auto;
		margin-left: 15%;
		margin-top: 100px;
	}

	.result-line {
		height: auto;
		width: 100%;
		margin-top: 30px;
		border: none;
		background-color: white;
		border-radius: 30px;
	}

	.result-line .card-resume {
		display: block;
		height: auto;
		width: calc(100% - 40px);
		margin: 20px;
	}

	.card-resume .city{
		padding-top: 10px;
		text-align: center;
		height: auto;
		width: 100%;
		color: #222222;
		text-transform: uppercase;
		font-size: 30px;
		display: block;
	}

	.card-resume .resume{
		margin-top: 30px;
		font-size: 15px;
		margin-bottom: 20px;
		height: auto;
		width: 100%;
		color: #444444;
		text-align: left;
		display: block;
	}

	.card-resume .price{
		height: 50px;
		width: 60%;
		margin-left: 20%;
		border: none;
		color: #222222;
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		border-radius: 20px;
		line-height: 50px;       
		display: block;
		background-color: #E9CB45;
		transition: all 0.2s ease-in;
	}

	.card-resume .price:hover{
		transition: all 0.2s ease-in;
		border-radius: 20px;
		background-color: #EA8858;
	}

	.result-line .img-city {
		display: block;
		height: 250px;
		width: 100%;
	}

	.img-city img{
		height: 100%;
		width: 100%;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		object-fit: cover;
	}

	/* ---------- Details ---------- */

	.detail-line {
		height: auto;
		position: relative;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 30px;
		border: none;
		display: block;
		background-color: white;
		border-radius: 30px;
	}

	.card-resume-detail {
		height: auto;
		width: 100%;
		margin: 10px;
		margin-bottom: 50px;
		display: block;
	}


	.card-resume-detail .title{
		padding-top: 10px;
		margin-left: 20px;
		margin-bottom: 30px;
		height: auto;
		width: 100%;
		color: #222222;
		text-transform: uppercase;
		font-size: 22px;
		display: block;
		text-align: center;
	}

	.card-resume-detail .resume{
		margin-top: 30px;
		font-size: 15px;
		margin-bottom: 20px;
		height: auto;
		width: 100%;
		color: #444444;
		text-align: left;
		display: block;
	}

	.card-resume-detail .value{
		margin-top: 10px;
		margin-left: 20px;
		font-size: 15px;
		height: auto;
		width: 100%;
		color: #444444;
		text-align: left;
		display: block;
	}

	.card-resume-detail .bold{
		font-weight: bold;
	}

	.card-resume-detail-close {
		width: 30px;
		text-align: right;
		margin-top: 10px;
		margin-right: 20px;
	}

	.card-resume-detail-close button {
		font-size: 30px;
		border: none;
		cursor: pointer;
		border-radius: 30px;
		background-color: white;
	}

	.card-resume-detail-close button:hover {
		color: #EA8858;
		transition: all 0.2s ease-in;
	}

	.detail-line .buy {
		position: absolute;
		bottom: 15px;
		left: calc(50% - 125px);
		height: 50px;
		width: 250px;
		border: none;
		color: #222222;
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		border-radius: 20px;
		line-height: 50px;       
		display: block;
		background-color: #E9CB45;
		transition: all 0.2s ease-in;
	}

	.detail-line .buy:hover{
		transition: all 0.2s ease-in;
		border-radius: 20px;
		background-color: #EA8858;
	}


	/* ---------- Other ---------- */

	.button-search:hover {
		background-color: #EA8858;
		transition: all 0.2s ease-in;
	}

	.contact-section-header {
		color: #282828;
		font-family: "Roboto", sans-serif;
		font-size: 25px;
		margin-bottom: 20px;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.subject {
		height: 150px;
		color: black;
	}

	/* ---------- error ----------- */

	.error-wrapper {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 20px;
		width: 90%;
		height: auto;
		color: #ff3c3c;
		background: rgb(255, 184, 184);
		border: 1px solid #ff3c3c;
		position: absolute;
		top: 0;
		left: 0;
	}

	.error {
		width: 100%;
		height: 100%;
	}

	.error-text {
		float: left;
		margin: 10px;
		width: 80%;
		height: 50px;
		font-size: 20px;
	}

	.error-cross {
		float: right;
		font-size: 30px;
		width: 50px;
		height: 50px;
		color: #ff3c3c;
		background: rgb(255, 184, 184);
		border: none;
		position: absolute;
		right: 5px;
		top: 10px;
		z-index: 999;
	}
}