@media (min-width: 1000px) {

    /* General */ 
  
    html {
      width: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      /*background: linear-gradient(0.25turn, white, white);*/
      background-color: white;
    }
  
    body {
      width: 100%;
      font-family: 'Readex Pro', sans-serif;
      margin: 0;
    }
  
    h1 {
      color: #450051;
      font-family: 'Readex Pro', sans-serif;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 50px;
      font-size: 36px;
      width: 100%;
    }
  
    h2 {
      color: #450051;
      font-family: 'Readex Pro', sans-serif;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 40px;
      font-size: 30px;
    }
  
    h3 {
      color: #450051;
      font-family: 'Readex Pro', sans-serif;
      text-align: center;
      font-size: 26px;
    }
  
    h4{
      color: #450051;
      font-family: 'Readex Pro', sans-serif;
      text-align: left;
      font-size: 22px;
    }
  
    p {
      line-height: 2;
    }
  
    a {
      text-decoration: none;
      color: black;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    .btn {
      padding: 8px 50px 8px 50px;
      border: 3px solid black;
      transition: 0.4s;
      display: inline-block;
      margin: 70px;
      font-weight: bold;
      cursor: pointer;
      background: white;
      text-align: center;
    }
  
    .btn:hover {
      background: #450051;
      text-decoration: none;
      padding: 8px 70px 8px 70px;
      color: white;
    }


/* ---------------- Banner ---------------- */

#banner {
    height: 850px;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0) url("../img/couvertOrdi.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  #banner h1{
    width: 60%;
    font-weight:bolder;
    color: #450051;
    margin: 10px;
    position: absolute;
    text-align: left;
    font-size: 64px;
    left: 10%;
    top: 250px;
  }

  #banner p{
    color: black;
    font-weight: bold;
    position: absolute;
    margin: 10px;
    text-align: left;
    left: 10%;
    top: 340px;
    width: 60%;
    font-size: 20px;
  }

  /* ---------------- Navigation ---------------- */

  .menu-bar{
    width: 100%;
    text-align: center;
    align-items: center;
    z-index: 100;
  }

  header {
    --background: transparent;
    height: 60px;
    width: 100%;
    display: flex;
    transition: background 250ms ease-in;
    background: var(--background);
    position: fixed;
    z-index: 100;
  }

  nav {
    width: 100%;
    height: 100%;
    font-family: "Readex Pro", sans-serif;
    font-size: 18px;
    display: flex;
    z-index: 100;
  }

  nav .sommeliers {
    display: none;
  }

  .nav-scrolled {
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  nav a {
    padding: 5px 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    border-radius: 5%;
    transition: 0.4s;
    z-index: 100;
  }

  nav a:hover {
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    background-color: #450051;
    border-radius: 5%;

  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: auto;
    z-index: 100;
    z-index: 100;
  }

  /*Hide checkbox*/
  input[type=checkbox]{
    display: none;
  }
  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked ~ #menu{
    display: block;
  }

  .show-menu {
    display: none;
  }

  .not-display-sommeliers {
    display: none;
  }



  /* ---------------- Horizontal section ---------------- */

  .horizontal-section {
    display: grid;
    place-items: center;
    background: #456173;
    width: 100%;
    height: 400px;
    margin: auto;
    background: #333;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-gap: 20px;
  }
  
  .horizontal-section > .full {
    grid-column: 1 / -1;
  }

  .hs {
    width: calc(100%);
    margin-left: 0px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30px repeat(var(--total), 300px) 30px;
    grid-template-rows: minmax(300px, 300px);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .hs:before,
  .hs:after {
    content: '';
  }

  .item:hover{
    transform: scale(1.05)
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .hs li, .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    transition: transform .5s; 
  }

  .hs li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1000ms;
    transition-delay: 0ms;
  }




}